name: CI

on:
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['14', '16', '17']

    name: Node ${{ matrix.node }} build

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node }}
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint
      - name: build
        run: npm run build:fast
      - name: test
        run: npm test
